<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<title>Quản lý khách hàng</title>
<head th:replace="common/default :: header" />

<body style="padding: 10px 20px">

<div th:replace="common/default :: navbar"> </div>

<h1 style="margin-top: 60px" >Danh sách khách hàng</h1>

<a  style="  color: white" class="btn btn-primary"  th:href="@{/home}" role="button">Quay lại</a>

<div style="padding: 10px 16px; margin-left: -16px" class="input-group">

  <form method="get" th:action="@{/customer/search}">
    <div class="input-group">
      <input  autofocus="true" type="text" name="key" placeholder="Số điện thoại" />
      <button type="submit"  class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>

</div>

<h5 class="text-danger" th:text="${notify}"></h5>

<div style="height: 300px" class="table-wrapper-scroll-y my-custom-scrollbar">

  <table class="table table-bordered table-striped mb-0">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Mã khách hàng</th>
      <th scope="col">Tên khách hàng</th>
      <th scope="col">Số điện thoại</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">Email</th>
      <th scope="col">Tổng điểm tích lũy(VND)</th>
      <th scope="col">Sửa</th>
      <th scope="col">Xóa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer, index : ${listCustomer}" >
      <th scope="row" th:text="*{index.index + 1}"></th>
      <th th:text="*{customer.id}"></th>
      <td th:text="*{customer.name}" ></td>
      <td th:text="*{customer.phone}" ></td>
      <td th:text="*{customer.address}"></td>
      <td th:text="*{customer.email}" ></td>
      <td th:text="*{#numbers.formatInteger(customer.totalCoins,3,'COMMA')}"></td>
      <td><a class="btn btn-warning" href="#" role="button" th:href="@{/customer/edit?id=}+${customer.id}">Sửa</a> </td>
      <td><button class="btn btn-danger" role="button" th:onclick="'ConfirmDelete(\'' + ${customer.id} + '\');'" type="button" >Xóa</button> </td>
    </tr>

    </tbody>
  </table>
</div>
<div th:replace="common/default :: body-scripts"> </div>
<script th:if="${messageKhachHangSua != null}" th:inline="javascript" >
  alert([[${messageKhachHangSua}]])
</script>

<script th:if="${messageKhachHangXoa != null}" th:inline="javascript" >
  alert([[${messageKhachHangXoa}]])
</script>
<script>
  function ConfirmDelete(id){
    var choose = confirm("Bạn có chắc chắc muốn xóa người dùng nay không?");
    if(choose==true){
      window.location.href='/customer/delete?id='+id;
      //var x = window.location.href;
      //console.log(x);
    }
  }
</script>
</body>
</html>